@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif:400,400i,600,600i,700,700i,800,800i");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("/css/academicons.min.css");
@import url("https://fonts.googleapis.com/css?family={{ site.data.settings.font_settings.body_font | replace: ' ', '+' }}:400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family={{ site.data.settings.font_settings.title_font | replace: " ",  }}:400,400i,600,600i,700,700i,800,800i");
@import url(gruvbox.dark.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong, b, mark {
  font-weight: 700;
  font-style: inherit;
}

em, i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

ins {
  border-bottom: 1px solid;
}

a, u, ins {
  text-decoration: none;
}

del, s {
  text-decoration: line-through;
}

pre, code, samp, kbd {
  font-family: monospace;
}

small {
  font-size: .75em;
}

img {
  border: 0;
  font-style: italic;
}

input, select, option, optgroup, textarea {
  font: inherit;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html {
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

input {
  -webkit-appearance: none;
}

header, footer, section {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes a {
  0% {
    -webkit-transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    transform: translate(-50%, -50%) rotateX(0) rotateY(0);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
    transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
  }
}
.fluidbox {
  outline: none;
}

.fluidbox__overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: zoom-out;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: -100%;
  right: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.fluidbox--opened .fluidbox__overlay {
  pointer-events: auto;
}

.fluidbox__wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.fluidbox--closed .fluidbox__thumb, .fluidbox__thumb {
  -webkit-transition: opacity 0s ease-in-out 0s;
  transition: opacity 0s ease-in-out 0s;
}

.fluidbox__ghost {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition: opacity 0s 0s,-webkit-transform .25s 0s;
  transition: opacity 0s 0s,-webkit-transform .25s 0s;
  transition: opacity 0s 0s,transform .25s 0s;
  transition: opacity 0s 0s,transform .25s 0s,-webkit-transform .25s 0s;
}

.fluidbox--opened .fluidbox__ghost {
  cursor: pointer;
  cursor: zoom-out;
}

.fluidbox--closed .fluidbox__ghost {
  -webkit-transition: opacity 0s .25s,-webkit-transform .25s 0s;
  transition: opacity 0s .25s,-webkit-transform .25s 0s;
  transition: opacity 0s .25s,transform .25s 0s;
  transition: opacity 0s .25s,transform .25s 0s,-webkit-transform .25s 0s;
}

.fluidbox__loader {
  opacity: 0;
  -webkit-perspective: 200px;
  perspective: 200px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fluidbox__loader:before {
  background-color: rgba(255, 255, 255, 0.85);
  content: '';
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  padding-bottom: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.fluidbox--loading .fluidbox__loader {
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out .25s;
  transition: opacity .25s ease-in-out .25s;
}

.fluidbox--loading .fluidbox__loader:before {
  -webkit-animation: a 1s 0s infinite ease-in-out forwards;
  animation: a 1s 0s infinite ease-in-out forwards;
}

.owl-carousel {
  display: none;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
}

body {
  background: #fcfbf8;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #474747;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", serif;
  color: #2A2F36;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1, .h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1220px) {
  h1, .h1 {
    font-size: 36px;
  }
}
h1 a, .h1 a {
  font-weight: 400;
}

h2, .h2 {
  margin-top: 40px;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 480px) {
  h2, .h2 {
    font-size: 23px;
  }
}
@media only screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1220px) {
  h2, .h2 {
    font-size: 30px;
  }
}
h2 a, .h2 a {
  font-weight: 400;
}

h3, .h3 {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1220px) {
  h3, .h3 {
    font-size: 30px;
  }
}

h4, .h4 {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
}
@media only screen and (min-width: 768px) {
  h4, .h4 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1220px) {
  h4, .h4 {
    font-size: 22px;
  }
}

h5, .h5 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
}
@media only screen and (min-width: 768px) {
  h5, .h5 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1220px) {
  h5, .h5 {
    font-size: 20px;
  }
}

h6, .h6 {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
}
@media only screen and (min-width: 768px) {
  h6, .h6 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1220px) {
  h6, .h6 {
    font-size: 16px;
  }
}

p, ul, ol {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
}
@media only screen and (min-width: 768px) {
  p, ul, ol {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1220px) {
  p, ul, ol {
    font-size: 16px;
  }
}
p strong, ul strong, ol strong {
  font-weight: 700;
}
p:first-child, ul:first-child, ol:first-child {
  margin-top: 0;
}

ul, ol {
  list-style-position: inside;
}

blockquote {
  margin-top: 15px;
  font-family: "Bree Serif", serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1220px) {
  blockquote {
    font-size: 16px;
  }
}
blockquote p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  blockquote p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1220px) {
  blockquote p {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #2A2F36;
  font-weight: 700;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
a:hover {
  color: #474747;
}

.button {
  display: inline-block;
  padding: 9px 10px 10px;
  font-size: 13px;
  line-height: 1;
  border: 2px solid #474747;
  border-radius: 3px;
  background: #474747;
  color: #fcfbf8;
  font-weight: 600;
  letter-spacing: 0em;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .button {
    padding: 11px 20px 12px;
    font-size: 15px;
  }
}
.button:hover {
  background: #474747;
  border-color: #474747;
  color: #fcfbf8;
}
.button svg {
  margin-right: 5px;
}
.button svg:last-child {
  margin-right: 0;
  margin-left: 5px;
}
@media only screen and (min-width: 768px) {
  .button svg {
    margin-right: 8px;
  }
  .button svg:last-child {
    margin-right: 0;
    margin-left: 8px;
  }
}

.button--large {
  padding: 15px 20px 16px;
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  .button--large {
    padding: 19px 40px 20px;
    font-size: 17px;
  }
}

.button--light {
  background: transparent;
  border-color: #2A2F36;
  color: #2A2F36;
}
.button--light:hover {
  background: #474747;
  border-color: #474747;
  color: #fcfbf8;
}

.button--overlay {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.button--overlay:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: #474747;
}

hr {
  margin: 40px 0;
  border: 0;
  height: 2px;
  background: #dddddd;
}

::selection {
  background: #474747;
  color: #fcfbf8;
}

::-moz-selection {
  background: #474747;
  color: #fcfbf8;
}

.page-loader {
  display: none;
}

.page {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body.loading .loader {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease-in-out 1s;
  -moz-transition: all 0.4s ease-in-out 1s;
  -ms-transition: all 0.4s ease-in-out 1s;
  -o-transition: all 0.4s ease-in-out 1s;
  transition: all 0.4s ease-in-out 1s;
}
body.loading .page {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
body.loading .footer {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60px;
  height: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .loader {
    left: 65%;
  }
}
@media only screen and (min-width: 1600px) {
  .loader {
    left: 62.5%;
  }
}
.loader svg {
  width: 100%;
  height: 100%;
  fill: rgba(42, 47, 54, 0.2);
}

.page,
.page__content {
  float: left;
  clear: both;
  width: 100%;
}

.page {
  padding-top: 75px;
}
@media only screen and (min-width: 768px) {
  .page {
    padding-top: 120px;
  }
}
@media only screen and (min-width: 1024px) {
  .page {
    padding-top: unset;
    padding-left: 28%;
  }
}
@media only screen and (min-width: 1600px) {
  .page {
    padding-left: 28%;
  }
}

.featured-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1024px) {
  .featured-image {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    padding-bottom: 0;
    width: 30%;
  }
}

section {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  section {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  section {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1220px) {
  section {
    margin-top: 80px;
  }
}

.buy-cta {
  position: fixed;
  bottom: 0;
  right: 0;
}

.buy-cta__link {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  background: #dc5b5d;
}
@media only screen and (min-width: 768px) {
  .buy-cta__link {
    width: 60px;
    height: 60px;
  }
}
.buy-cta__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #fff;
}
@media only screen and (min-width: 768px) {
  .buy-cta__link svg {
    width: 30px;
    height: 30px;
  }
}
.buy-cta__link:hover .buy-cta__text {
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.buy-cta__text {
  position: absolute;
  top: 0;
  right: 40px;
  background: #dc5b5d;
  padding: 14px 10px 13px 17px;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  white-space: nowrap;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -moz-transform: translate(0, 20px);
  -o-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  .buy-cta__text {
    right: 60px;
    padding: 22px 14px 23px 25px;
    font-size: 15px;
    -moz-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    -webkit-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }
}

.header {
  padding: 30px 20px;
  background: #161B21;
  position: fixed;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 40px 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .header {
    position: fixed;
    z-index: 10;
    overflow: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    padding: 0;
  }
}
@media only screen and (min-width: 1600px) {
  .header {
    width: 25%;
  }
}

.header-image, .header-image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -ms-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .header-image, .header-image img {
    position: fixed;
    right: auto;
    width: 30%;
  }
}
@media only screen and (min-width: 1600px) {
  .header-image, .header-image img {
    width: 25%;
  }
}

.header-image--on {
  opacity: 1;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(22, 27, 33, calc( 0.7 - 0.3 ));
}
@media only screen and (min-width: 1024px) {
  .header-overlay {
    background: -moz-linear-gradient(top, rgba(22, 27, 33, 0) 0%, rgba(22, 27, 33, 0.01) 0.05%, rgba(22, 27, 33, 0.7) 70%, rgba(22, 27, 33, 0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(22, 27, 33, 0) 0%, rgba(22, 27, 33, 0.01) 0.05%, rgba(22, 27, 33, 0.7) 70%, rgba(22, 27, 33, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(22, 27, 33, 0.7) 0%, rgba(22, 27, 33, 0.01) 0.05%, rgba(22, 27, 33, 0.7) 70%, rgba(22, 27, 33, 0.7) 100%);
  }
}

.header__content {
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .header__content {
    position: absolute;
    bottom: 0;
    padding: 40px 40px 34px;
  }
}
@media only screen and (min-width: 1220px) {
  .header__content {
    padding: 60px 60px 52px;
  }
}

.header__logo {
  display: block;
  width: 200px;
  max-width: 80%;
}
@media only screen and (min-width: 768px) {
  .header__logo {
    float: left;
    max-width: 50%;
  }
}

.header__logo__img {
  width: 100%;
  height: auto;
}

.header__title {
  font-family: "Bree Serif", serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  color: #ffffff;
}
.header__title:hover {
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1220px) {
  .header__title {
    font-size: 44px;
  }
}

.header__tagline {
  display: none;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}
@media only screen and (min-width: 1024px) {
  .header__tagline {
    font-size: 17px;
    display: inherit;
  }
}
@media only screen and (min-width: 1220px) {
  .header__tagline {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1220px) {
  .menu {
    margin-top: 30px;
  }
}

.menu__toggle {
  position: absolute;
  z-index: 1002;
  top: 40%;
  right: 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) {
  .menu__toggle {
    display: none;
  }
}

.menu__toggle__icon {
  float: right;
  position: relative;
  width: 24px;
  height: 20px;
  margin-left: 8px;
}
.menu__toggle__icon span, .menu__toggle__icon span:before, .menu__toggle__icon span:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  background: rgba(255, 255, 255, 0.7);
}
.menu__toggle__icon span:before {
  top: -8px;
}
.menu__toggle__icon span:after {
  top: 8px;
}

.menu--open .menu__toggle__icon span:before, .menu--open .menu__toggle__icon span:after {
  background: #ffffff !important;
}
.menu--open .menu__toggle__icon span {
  background-color: transparent !important;
}
.menu--open .menu__toggle__icon span:before,
.menu--open .menu__toggle__icon span:after {
  top: 0;
}
.menu--open .menu__toggle__icon span:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu--open .menu__toggle__icon span:after {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu__wrap {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(22, 27, 33, 0.95);
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .menu__wrap {
    position: relative;
    background: transparent;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.menu--open .menu__wrap {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  list-style: none;
  margin: 0 auto;
  padding: 12px 20px;
}
@media only screen and (min-width: 768px) {
  .menu__list {
    padding: 30px 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__list {
    margin: 0;
    padding: 0;
  }
}

.menu__list__item__link {
  font-size: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
}
.menu__list__item__link:hover {
  color: #ffffff;
}
@media only screen and (min-width: 1024px) {
  .menu__list__item__link {
    padding: 0;
    font-size: 24px;
  }
}
@media only screen and (min-width: 1220px) {
  .menu__list__item__link {
    font-size: 24px;
  }
}
.menu__list__item__link.active-link {
  color: #ffffff;
}

.menu__button {
  margin-top: 15px;
  padding: 15px 20px 16px;
  font-size: 13px;
}
@media only screen and (min-width: 1024px) {
  .menu__button {
    margin-top: 0;
    padding: 11px 20px 12px;
    font-size: 15px;
  }
}

.header .socials {
  padding: 12px 20px;
}
@media only screen and (min-width: 768px) {
  .header .socials {
    padding: 10px 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .header .socials {
    margin: 27px 0 0;
    padding: 0;
  }
}
@media only screen and (min-width: 1220px) {
  .header .socials {
    margin-top: 35px;
  }
}
.header .socials .socials__item__link {
  background: rgba(255, 255, 255, 0.7);
  color: #161B21;
}
.header .socials .socials__item__link:hover {
  background: #ffffff;
  color: #161B21;
}

.footer {
  -webkit-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -moz-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -ms-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -o-transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: all 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 40px;
  }
}
@media only screen and (min-width: 1220px) {
  .footer {
    padding: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    padding-left: 30%;
  }
}
@media only screen and (min-width: 1600px) {
  .footer {
    padding-left: 25%;
  }
}

.footer__copyright {
  display: block;
  font-size: 13px;
  color: #fcfbf8;
}
@media only screen and (min-width: 1024px) {
  .footer__copyright {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 1220px) {
  .footer__copyright {
    padding-left: 60px;
  }
}
.footer__copyright a {
  margin-left: 10px;
  color: #fcfbf8;
  font-weight: 400;
}
.footer__copyright a:hover {
  color: #474747;
}

.intro {
  margin-top: 0;
  padding: 20px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro {
    padding: 35px 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .intro {
    padding: 35px 20px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .intro {
    padding: 53px 30px 0;
  }
}
.intro .wrap {
  padding-bottom: .3em;
  background: #fcfbf8;
}
@media only screen and (min-width: 1024px) {
  .intro .wrap {
    max-width: 95%;
    padding-bottom: .4em;
  }
}
@media only screen and (min-width: 1220px) {
  .intro .wrap {
    max-width: 92%;
    padding-bottom: .6em;
  }
}
@media only screen and (min-width: 1600px) {
  .intro .wrap {
    max-width: 90%;
    padding-bottom: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .intro h1 {
    white-space: pre-line;
  }
}
.intro p {
  margin-top: 5px;
  color: #fcfbf8;
}

.single {
  margin-top: 0;
  padding: 0 px 0;
  min-height: 100vh;
}
@media only screen and (min-width: 768px) {
  .single {
    padding: 0px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .single {
    padding: 00px 40px 40px;
  }
}
@media only screen and (min-width: 1220px) {
  .single {
    padding: 00px 60px 60px;
  }
}
@media only screen and (min-width: 1600px) {
  .single {
    padding: 00px 60px 60px;
  }
}
.single h1, .single h2, .single h3, .single h4, .single h5, .single h6, .single p, .single ul, .single ol, .single hr, .single img, .single .blog-post, .single .container, .single .portfolio-item, .single .disqus-block, .single .highlighter-rouge, .single table, .single blockquote, .single figure {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1024px) {
  .single h1, .single h2, .single h3, .single h4, .single h5, .single h6, .single p, .single ul, .single ol, .single hr, .single img, .single .blog-post, .single .container, .single .portfolio-item, .single .disqus-block, .single .highlighter-rouge, .single table, .single blockquote, .single figure {
    max-width: 95%;
  }
}
@media only screen and (min-width: 1220px) {
  .single h1, .single h2, .single h3, .single h4, .single h5, .single h6, .single p, .single ul, .single ol, .single hr, .single img, .single .blog-post, .single .container, .single .portfolio-item, .single .disqus-block, .single .highlighter-rouge, .single table, .single blockquote, .single figure {
    max-width: 92%;
  }
}
@media only screen and (min-width: 1600px) {
  .single h1, .single h2, .single h3, .single h4, .single h5, .single h6, .single p, .single ul, .single ol, .single hr, .single img, .single .blog-post, .single .container, .single .portfolio-item, .single .disqus-block, .single .highlighter-rouge, .single table, .single blockquote, .single figure {
    max-width: 90%;
  }
}
.single hr {
  margin: 20px auto;
}
@media only screen and (min-width: 768px) {
  .single hr {
    margin-top: 40px;
    margin-bottom: 40px;
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .single hr {
    max-width: 90%;
  }
}
@media only screen and (min-width: 1220px) {
  .single hr {
    max-width: 85%;
  }
}
@media only screen and (min-width: 1600px) {
  .single hr {
    max-width: 80%;
  }
}
.single blockquote,
.single figure {
  margin: 20px auto;
}
.single blockquote p {
  max-width: 90%;
  padding: 0;
}
.single p a {
  font-weight: 700;
  border-bottom: 2px solid #474747;
}
.single p .button {
  margin-top: 10px;
}
.single .highlighter-rouge,
.single table {
  margin: 20px auto;
  max-width: 80%;
}
.single .highlight {
  display: block;
  padding: 0;
  line-height: 1.5;
  font-size: 11.9px;
  line-height: 1.6;
  overflow: auto;
}
@media only screen and (min-width: 768px) {
  .single .highlight {
    font-size: 12.75px;
  }
}
@media only screen and (min-width: 1220px) {
  .single .highlight {
    font-size: 13.6px;
  }
}
.single .highlight .highlight {
  padding: 10px;
}
@media only screen and (min-width: 768px) {
  .single .highlight .highlight {
    padding: 15px;
  }
}
@media only screen and (min-width: 1220px) {
  .single .highlight .highlight {
    padding: 20px;
  }
}
.single table {
  border: 2px solid #2A2F36;
}
.single table thead {
  background: #2A2F36;
  color: #fcfbf8;
  text-align: left;
  font-weight: 700;
}
.single table thead th {
  font-weight: 700;
}
.single table th, .single table td {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .single table th, .single table td {
    padding: 15px;
  }
}
@media only screen and (min-width: 1220px) {
  .single table th, .single table td {
    padding: 20px;
  }
}
.single table tr:nth-child(2n) {
  background: #e0e4e7;
}
.single sup a.footnote {
  display: inline-block;
  margin-left: 5px;
  min-width: 16px;
  height: 16px;
  border-radius: 100%;
  border-bottom: none;
  background: #e0e4e7;
  font-size: 10px;
  text-align: center;
  color: #fcfbf8;
}
.single sup a.footnote:hover {
  background: #fcfbf8;
  color: #fcfbf8;
}
.single .footnotes {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .single .footnotes {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1220px) {
  .single .footnotes {
    margin-top: 80px;
  }
}
.single .footnotes ol {
  list-style: none;
  counter-reset: footnotes;
}
.single .footnotes ol li {
  margin-top: 5px;
  font-size: 13px;
  counter-increment: footnotes;
}
.single .footnotes ol li:before {
  content: counter(footnotes);
  box-sizing: border-box;
  display: inline-block;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border-bottom: none;
  background: #e0e4e7;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  color: #fcfbf8;
}
.single .footnotes ol li p {
  display: inline;
  max-width: 100%;
  font-size: 13px;
}
.single .footnotes ol li p a.reversefootnote {
  border-bottom: 0;
  vertical-align: sub;
}

.image-wrap,
.video-wrap {
  position: relative;
  margin: 20px auto;
}
@media only screen and (min-width: 768px) {
  .image-wrap,
  .video-wrap {
    margin: 30px auto;
  }
}
@media only screen and (min-width: 1220px) {
  .image-wrap,
  .video-wrap {
    margin: 40px auto;
  }
}
.image-wrap:first-child,
.video-wrap:first-child {
  margin-top: 0;
}

.image-wrap img {
  margin: 0 auto;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  display: inline-block;
  margin-left: 2px;
}
.socials__item:first-child {
  margin-left: 0;
}

.socials__item__link {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fcfbf8;
  font-size: 14px;
  line-height: 1;
  color: #fcfbf8;
}
@media only screen and (min-width: 768px) {
  .socials__item__link {
    width: 34px;
    height: 34px;
    font-size: 17px;
  }
}
.socials__item__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -52%);
  -o-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}
.socials__item__link:hover {
  background: #474747;
  color: #fcfbf8;
}
.socials__item__link .ai {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -52%);
  -o-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

.gallery {
  visibility: hidden;
  position: relative;
  margin: 20px auto;
}
@media only screen and (min-width: 768px) {
  .gallery {
    margin: 30px auto;
  }
}
@media only screen and (min-width: 1220px) {
  .gallery {
    margin: 40px auto;
  }
}
.gallery:first-child {
  margin-top: 0;
}

.gallery--on {
  visibility: visible;
}

.gallery__item {
  position: relative;
}
.gallery__item img {
  width: 100%;
}

.gallery--carousel .gallery__item__link {
  display: block;
  pointer-events: none;
}
.gallery--carousel .owl-nav {
  display: none;
}
.gallery--carousel .owl-dots {
  margin-top: 20px;
  text-align: center;
}
.gallery--carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  border: 0;
  border-radius: 100%;
  background: #fcfbf8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}
.gallery--carousel .owl-dots .owl-dot.active {
  background: #474747;
}

.gallery--grid .gallery__wrap {
  margin-left: -5px;
  margin-right: -5px;
}
.gallery--grid .gallery__item {
  float: left;
  width: 50%;
  padding: 5px;
}
.gallery--grid .gallery__item__link {
  display: block;
  cursor: zoom-in;
}
.gallery--grid[data-columns="3"] .gallery__item {
  width: 33.33%;
}
.gallery--grid[data-columns="4"] .gallery__item {
  width: 33.33%;
}
@media only screen and (min-width: 768px) {
  .gallery--grid[data-columns="4"] .gallery__item {
    width: 25%;
  }
}
.gallery--grid[data-columns="5"] .gallery__item {
  width: 33.33%;
}
@media only screen and (min-width: 768px) {
  .gallery--grid[data-columns="5"] .gallery__item {
    width: 25%;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery--grid[data-columns="5"] .gallery__item {
    width: 20%;
  }
}
.gallery--grid[data-columns="6"] .gallery__item {
  width: 33.33%;
}
@media only screen and (min-width: 768px) {
  .gallery--grid[data-columns="6"] .gallery__item {
    width: 25%;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery--grid[data-columns="6"] .gallery__item {
    width: 20%;
  }
}
@media only screen and (min-width: 1220px) {
  .gallery--grid[data-columns="6"] .gallery__item {
    width: 16.66%;
  }
}

.contact-form {
  background: #e0e4e7;
  margin: 20px auto;
  width: 100%;
  padding: 20px;
}
@media only screen and (min-width: 768px) {
  .contact-form {
    margin: 30px auto;
    padding: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-form {
    max-width: calc(80% + 80px);
  }
}
@media only screen and (min-width: 1220px) {
  .contact-form {
    margin: 40px auto;
    max-width: calc(75% + 100px);
    padding: 50px;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-form {
    max-width: calc(70% + 120px);
    padding: 60px;
  }
}
.contact-form:first-child {
  margin-top: 0;
}

.contact-form__item {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .contact-form__item {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1220px) {
  .contact-form__item {
    margin-top: 30px;
  }
}
.contact-form__item:first-child {
  margin-top: 0;
}

.contact-form__item--error .contact-form__input,
.contact-form__item--error .contact-form__textarea {
  border-color: #D64541;
}

.contact-form__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #474747;
}
@media only screen and (min-width: 768px) {
  .contact-form__label {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1220px) {
  .contact-form__label {
    font-size: 16px;
  }
}

.contact-form__input,
.contact-form__textarea {
  width: 100%;
  margin-top: 8px;
  border: 2px solid #dddddd;
  border-radius: 2px;
  padding: 10px 12px;
  background: #fcfbf8;
  font-size: 14px;
  line-height: 1.4;
  color: #2A2F36;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .contact-form__input,
  .contact-form__textarea {
    padding: 15px 18px;
    font-size: 15px;
  }
}
@media only screen and (min-width: 1220px) {
  .contact-form__input,
  .contact-form__textarea {
    font-size: 16px;
  }
}
.contact-form__input:focus,
.contact-form__textarea:focus {
  outline: none;
  border-color: #474747;
}

::-webkit-input-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

.contact-form__textarea {
  min-height: 200px;
  resize: none;
}

.portfolio {
  margin-top: 0;
  padding: 20px 0 0;
}
@media only screen and (min-width: 768px) {
  .portfolio {
    padding: 35px 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .portfolio {
    padding: 35px 40px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .portfolio {
    padding: 53px 60px 0;
  }
}

.portfolio-item {
  position: relative;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .portfolio-item {
    margin-top: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .portfolio-item {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1220px) {
  .portfolio-item {
    margin-top: 60px;
  }
}
.portfolio-item:first-child {
  margin-top: 0;
}

.portfolio-item__link {
  position: relative;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .portfolio-item__link:hover .portfolio-item__content {
    opacity: 1;
    visibility: visible;
  }
}

.portfolio-item__image {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-item__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(22, 27, 33, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio-item__info {
  text-align: center;
}

.portfolio-item__title {
  color: #ffffff;
}

.portfolio-item__subtitle {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.blog {
  margin-top: 0;
  padding: 20px 0 0;
}
@media only screen and (min-width: 768px) {
  .blog {
    padding: 35px 0 0;
  }
}
@media only screen and (min-width: 1024px) {
  .blog {
    padding: 35px 40px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .blog {
    padding: 53px 60px 0;
  }
}

.blog-post {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .blog-post {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .blog-post {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1220px) {
  .blog-post {
    margin-top: 100px;
  }
}
.blog-post:first-child {
  margin-top: 0;
}

.blog-post__image {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .blog-post__image {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .blog-post__image {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1220px) {
  .blog-post__image {
    margin-top: 40px;
  }
}

.blog-post__content {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .blog-post__content {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .blog-post__content {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1220px) {
  .blog-post__content {
    margin-top: 40px;
  }
}
.blog-post__content p .button {
  margin-top: 5px;
}
@media only screen and (min-width: 1024px) {
  .blog-post__content p .button {
    margin-top: 10px;
  }
}

.blog-post__subtitle {
  margin-top: 5px;
  color: #fcfbf8;
  margin-left: 0px;
}

.pagination {
  margin-top: 0;
  padding: 40px 20px 0;
}
@media only screen and (min-width: 768px) {
  .pagination {
    padding: 55px 40px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .pagination {
    padding: 75px 40px 0;
  }
}
@media only screen and (min-width: 1220px) {
  .pagination {
    padding: 93px 60px 0;
  }
}

.pagination__prev,
.pagination__next {
  width: 50%;
}
.pagination__prev .button,
.pagination__next .button {
  display: block;
  text-align: center;
}

.pagination__prev {
  float: left;
  padding-right: 5px;
}

.pagination__next {
  float: right;
  padding-left: 5px;
}

.nolisting li {
  list-style: outside;
}
.nolisting li:before {
  content: "" !important;
}

.bibliography, .item_content {
  list-style: none;
  margin-top: 0px;
}
.bibliography *,
.bibliography ::after,
.bibliography ::before, .item_content *,
.item_content ::after,
.item_content ::before {
  box-sizing: border-box;
}
.bibliography > li, .item_content > li {
  margin-left: -0.5em;
  padding-left: 0.5em;
  counter-increment: bibitem -1;
}
.bibliography > li:before, .item_content > li:before {
  display: inline-block;
  content: counter(bibitem) ". ";
  width: 1.5em;
  margin-left: -1.5em;
}
.bibliography .biblinks, .item_content .biblinks {
  margin-left: 0px !important;
  font-size: smaller;
}
.bibliography .biblinks ul, .item_content .biblinks ul {
  margin-left: 0px;
  font-size: calc(14px - 1px);
}
.bibliography .biblinks li, .item_content .biblinks li {
  list-style-type: none;
  float: left;
  margin-right: 1em;
}
.bibliography .biblinks a:before, .item_content .biblinks a:before {
  content: "[";
}
.bibliography .biblinks a:after, .item_content .biblinks a:after {
  content: "]";
}
.bibliography a.title, .item_content a.title {
  color: #2A2F36 !important;
  font-weight: bold !important;
  cursor: alias;
}

.item_details {
  overflow: hidden;
  margin-bottom: .5em;
  font-size: calc(14px - 1px);
  color: #4a4a4a !important;
}
.item_details * {
  overflow: hidden;
}
.item_details p {
  max-width: 100%;
  font-size: calc(14px - 1px);
  margin-bottom: 1em;
}
.item_details p.subtitle {
  color: #fcfbf8;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 0px;
}
.item_details p.date {
  margin-top: 5px;
  color: #fcfbf8 !important;
}
.item_details pre {
  font-size: calc(calc(14px - 1px) - 1px);
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  max-height: 300px;
  overflow-x: scroll;
}
.item_details blockquote {
  font-family: "Raleway", sans-serif;
  padding-left: 15px;
  margin-top: 1em !important;
  border-left: 5px solid #eee;
  font-size: calc(14px - 1px);
}
.item_details blockquote img {
  float: right;
  max-width: 20%;
  margin: 0.1em 0 2em 1em;
  border-radius: 2%;
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.item_details blockquote div.bibtex, .item_details blockquote div.abstract, .item_details blockquote div.citation {
  padding: 0em !important;
  margin: 0em !important;
}
.item_details blockquote div.bibtex p, .item_details blockquote div.abstract p, .item_details blockquote div.citation p {
  margin-left: 0px !important;
}

p.date {
  margin-top: 5px;
  color: #fcfbf8 !important;
}

.fixed-top-buttons {
  position: sticky;
  top: 70px;
  z-index: 1;
  overflow: inherit;
}
@media only screen and (min-width: 768px) {
  .fixed-top-buttons {
    top: 85px;
  }
}
@media only screen and (min-width: 1024px) {
  .fixed-top-buttons {
    top: -35px;
  }
}
@media only screen and (min-width: 1220px) {
  .fixed-top-buttons {
    top: -55px;
  }
}

.tag {
  display: inline-flex;
  line-height: 1.6;
  background: rgba(106, 159, 181, 0.15);
  padding: 0 .5rem;
  margin-right: .3rem;
  border-radius: 4px;
  color: #6a9fb5;
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  font-size: calc(calc(14px - 1px) *.85);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.tag::before {
  content: "\f02b";
  font-family: FontAwesome;
  padding-right: .5em;
}
.tag.active-link {
  color: #fcfbf8 !important;
}

.hackmenu {
  float: right;
  background: #fcfbf8;
  height: auto;
  border-radius: 4px;
  z-index: 99;
  padding: 5px 15px 5px 5px;
}

.taglist {
  display: none;
  float: right;
  margin-bottom: 0em;
  font-size: calc(14px - 1px);
}
@media only screen and (min-width: 768px) {
  .taglist {
    display: inherit;
  }
}
.taglist .taglist-inner {
  float: right;
  position: absolute;
  top: 55px;
  z-index: 1;
  box-shadow: 1px 3px 2px grey;
  background: #fcfbf8;
}
@media only screen and (min-width: 768px) {
  .taglist .taglist-inner {
    top: 55px;
  }
}
@media only screen and (min-width: 1024px) {
  .taglist .taglist-inner {
    top: 55px;
  }
}
@media only screen and (min-width: 1220px) {
  .taglist .taglist-inner {
    top: 72px;
  }
}
.taglist ul {
  list-style: none;
  background: #fcfbf8;
  border-radius: 4px;
  padding-bottom: 0.2em;
}

a.plus-icon {
  display: inline-block;
  color: #2A2F36 !important;
  cursor: pointer;
}
a.plus-icon:before {
  color: #1562bd !important;
  display: inherit;
  font-size: 14px;
  font-family: FontAwesome;
  content: "\f055";
  vertical-align: middle;
  width: 1.7em;
  margin-left: -1.7em;
}
a.plus-icon.minus:before {
  content: "\f056";
  vertical-align: middle;
  transition: all 0.3s;
}

.undo-icon {
  display: inline-block;
  color: #1562bd !important;
}
.undo-icon:hover {
  color: #2A2F36 !important;
}
.undo-icon:before {
  font-family: FontAwesome;
  font-size: calc(14px + 0pt);
  content: "\f0e2";
  padding-right: 5px;
  vertical-align: top;
}

.tooltip {
  position: relative;
  display: inline-block;
  float: right;
}
.tooltip .tooltiptext {
  font-size: calc(14px - 1px);
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  margin-left: -2em;
  padding-left: 2em;
}
.collapse.show {
  max-height: 500em;
}

.frontpage .container {
  display: flex;
}
@media screen and (max-width: 600px) {
  .frontpage .container {
    flex-wrap: wrap;
  }
  .frontpage .container .contact__information {
    padding-left: 0em;
  }
}
.frontpage .contact__information {
  flex-grow: 1;
  padding-left: 2em;
  white-space: nowrap;
}
.frontpage .contact__information p {
  margin-top: 0px;
}
.frontpage p {
  margin-left: 0px;
  margin-top: 10px;
}
.frontpage h1, .frontpage h2, .frontpage h3, .frontpage h4, .frontpage h5, .frontpage h6 {
  text-align: left;
}
.frontpage h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

h1,
h2 {
  margin-top: 0px;
}

h1 {
  line-height: 1;
}

h2 {
  margin-bottom: .2em;
}

img {
  border-radius: 0pt;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.inline-img {
  float: right;
  max-width: 20% !important;
  margin: 0.1em 0 2em 1em !important;
  border-radius: 2%;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

a {
  font-weight: 400 !important;
  border-bottom: 0px !important;
  color: #1562bd;
  transition: color 300ms ease-in-out;
}

.footer__copyright {
  text-align: right;
  font-size: 7pt;
  color: #fcfbf8;
  line-height: 1.2;
  margin: auto;
}
@media only screen and (min-width: 1024px) {
  .footer__copyright {
    max-width: 95%;
  }
}
@media only screen and (min-width: 1220px) {
  .footer__copyright {
    max-width: 92%;
  }
}
@media only screen and (min-width: 1600px) {
  .footer__copyright {
    max-width: 90%;
  }
}
.footer__copyright span {
  float: right;
}

.author-information {
  float: left;
  line-height: 1.6;
  padding-top: 1em;
  font-family: "Raleway", sans-serif;
}
.author-information span {
  position: absolute;
}
.author-information p {
  padding-bottom: .5em;
}
.author-information p.row span:nth-child(2) {
  left: 10em;
  position: absolute;
}

.header__title,
.header__tagline {
  font-family: "Bree Serif", serif !important;
  font-weight: 700 !important;
}

.menu__list__item__link {
  font-family: "Bree Serif", serif !important;
  font-weight: 700 !important;
}

.border {
  margin-left: 0pt;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .header {
    width: 27%;
  }
}

.header-image {
  background-position: center 29%;
}
@media only screen and (min-width: 1024px) {
  .header-image {
    width: 27%;
    position: fixed;
    right: auto;
    background-position: center;
  }
}

.header__title:hover {
  color: #fcfbf8;
}

.wrap {
  padding-left: 2.9em;
  padding-right: 2.4em;
}

.post__list .blog-post__title a {
  color: #2A2F36 !important;
}

.image-wrap img {
  border-radius: 5pt;
}
