<ul class="socials">

   	{% comment %} 
   	Begin ZB customization for email and phone
   	{% endcomment %}

	{% if site.data.authors.biener.email %}
	<li class="socials__item">
		<a href="mailto:{{site.data.authors.biener.email}}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="fa fa-envelope" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}

	{% if site.data.authors.biener.orcid %}
	<li class="socials__item">
		<a href="http://orcid.org/{{site.data.authors.biener.orcid}}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="ai ai-orcid" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}

	{% if site.data.authors.biener.philpapers_url %}
	<li class="socials__item">
		<a href="{{site.data.authors.biener.philpapers_url}}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="ai ai-philpapers ai-1x" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}

	

   	{% comment %} 
   	END ZB customization for email and phone
   	{% endcomment %}

	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
			<i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}
	{% endfor %}

	{% if site.data.settings.basic_settings.rss %}
	<li class="socials__item">
		<a href="{{site.url}}{{site.data.settings.basic_settings.rss}}" target="_blank" class="socials__item__link" title="{{site.url}}{{site.data.settings.basic_settings.rss}}">
			<i class="fas fa-rss" aria-hidden="true"></i>
		</a>
	</li>
	{% endif %}


</ul>