@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
$bib_contents_size: calc(#{$p-small} - 1px);
$plus_size: calc(#{$p-small} + 0pt);


.nolisting {
    li {
    list-style: outside;
        &:before {
            content: "" !important;
        }
    }
}


.bibliography, .item_content { //aka .item_content and .bibliography, which maybe the class that scholar uses automatically.
    list-style:none;
    margin-top: 0px;

    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }


    >li {
        margin-left: -0.5em;
        padding-left: 0.5em;
        counter-increment: bibitem -1;
        

        &:before {
            display: inline-block;
            content: counter(bibitem) ". ";
            width: 1.5em;
            margin-left: -1.5em;
        }
    }

    .biblinks { // item_links
        margin-left: 0px !important;
        font-size: smaller;

        ul {
            margin-left: 0px;
            font-size: $bib_contents_size
        }

        li {
            list-style-type: none;
            float: left;
            margin-right: 1em;
        }

        a:before {
            content: "[";
        }

        a:after {
            content: "]";
        }
    }

    a.title {
    color: $text-dark-color !important;
    font-weight: bold !important;
    cursor: alias;
    }
}

.item_details { //aka item_details
    overflow: hidden;
    margin-bottom: .5em;
    font-size: $bib_contents_size;

    * {
        overflow: hidden;
    }
    p {
        max-width: 100%;
        font-size: $bib_contents_size;
        color: black;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 25px;
    
        &.subtitle {
        color: $text-light-color;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 0px;
        }
        &.date {
            margin-top: 5px;
            color: $text-light-color !important;
        }
    }
    
    pre {
        padding: 9.5px;
        margin: 1em 0 .3em;
        font-size: $bib_contents_size;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    blockquote {
        font-family: $body-font;
        color: #808080;
        padding-left: 20px;
        margin-top: 1em !important;
        border-left: 5px solid #eee;
        font-size: $bib_contents_size;
        img {
            float: right;
            max-width: 20%;
            margin: 0.1em 0 2em 1em;
            border-radius: 2%;
            border: 1px solid rgba(0, 0, 0, 0.13);
        }
    }
}

p.date {
                margin-top: 5px;
                color: $text-light-color !important;
            }


.fixed-top-buttons {
    position: sticky;
    top: 70px;
    z-index: 1;
    overflow: inherit;

    @include mq(tabletp) {
        top: 85px;}

    @include mq(tabletl) {
        top: -35px;}

    @include mq(laptop) {
        top: -55px;}
}


.tag {
    display: inline-flex;
    line-height: 1.6;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .3rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: calc(#{$bib_contents_size} *.85);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    &::before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
    }

    &.active-link {
        color: $text-light-color !important;
        }

}

.hackmenu {
    float: right;
    background: $background-color;
    height: auto;
    border-radius: 4px;
    z-index:99;
    padding: 5px 15px 5px 5px;

    
}

.taglist {
    display: none;
    float: right;
    margin-bottom: 0em;
    font-size: $bib_contents_size;
    @include mq(tabletp) {
           display: inherit;
        }
    
    .taglist-inner {
        float: right; 
        position: absolute; 
        top: 55px;
        z-index: 1; 
        box-shadow: 1px 3px 2px grey;
        background: $background-color; 
        @include mq(tabletp) {
            top: 55px;
        }

        @include mq(tabletl) {
            top: 55px;;
        }
    
        @include mq(laptop) {
            top: 72px;
    }
    }

    ul {
        list-style: none; 
        background: $background-color; 
        border-radius: 4px; 
        padding-bottom: 0.2em;
    }
}


// +/ - sign
a.plus-icon {
    display: inline-block;
    color: $text-dark-color !important;
    cursor: pointer;

    &:before {
        color: $plus-minus-icon-color !important;
        display: inherit;
        font-size: $p-small;
        font-family: FontAwesome;
        content: "\f055";
        vertical-align: middle;
        width: 1.7em;
        margin-left: -1.7em;
    }

    &.minus {
        &:before {
        content: "\f056";
        vertical-align: middle;
        transition: all 0.3s;
        }
    }
}

.undo-icon {
    display: inline-block;
    color: #1562bd !important;

    &:hover {
        color: $text-dark-color !important;
    }

    &:before {
        font-family: FontAwesome;
        font-size: $plus_size;
        content: "\f0e2";
        padding-right: 5px;
        vertical-align: top;
    }
}

// Tooltip

.tooltip {
    position: relative;
    display: inline-block;
    float: right;

    .tooltiptext {
        font-size: $bib_contents_size;
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}



// Collapse / Show
.collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    margin-left: -2em;
    padding-left: 2em;
    transition: max-height .6s cubic-bezier(0, 1, 0, 1);

    &.show {
        max-height: 500em;
        transition: max-height .6s ease-in-out;
    }
}





