@import url("https://fonts.googleapis.com/css?family={{ site.data.settings.font_settings.body_font | replace: ' ', '+' }}:400,400i,600,600i,700,700i,800,800i");

@import url('https://fonts.googleapis.com/css?family={{ site.data.settings.font_settings.title_font | replace: '', '+' }}:400,400i,600,600i,700,700i,800,800i');



h1,
h2, {
    margin-top: 0px;
}

h1 {
    line-height: 1;
}

h2 {
    margin-bottom: .2em;
}

img {
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.inline-img {
    float: right;
    max-width: 20% !important;
    margin: 0.1em 0 2em 1em !important;
    border-radius: 2%;
    border: 1px solid rgba(0, 0, 0, 0.13);
}


a {
    font-weight: 400 !important;
    border-bottom: 0px !important;
    color: $link-color;
    transition: color 300ms ease-in-out;
}


// footer alignment
.footer__copyright {
    text-align: right;
    font-size: 7pt;
    color: $text-light-color;
    line-height: 1.2;

    @include mq(tabletl) {
        max-width: $tablelt-width;
    }

    @include mq(laptop) {
        max-width: $laptop-width;
    }

    @include mq(desktop) {
        max-width: $desktop-width;
    }

    margin:auto;

    span {
        float: right;
    }
}

// Front Page

.author-information {
    float: left;
    line-height: 1.6;
    //margin-left: 5%;
    padding-top: 1em;
    font-family: $body-font;

    span {
        position: absolute;
    }

    p {
        padding-bottom: .5em;
    }

    p.row span:nth-child(2) {
        left: 10em;
        position: absolute;
    }
}

.header__title,
.header__tagline {
    font-family: $title-font !important;
    font-weight: 700 !important;
}

.menu__list__item__link {
    font-family: $title-font !important;
    font-weight: 700 !important;
}


.border {
    margin-left: $border-radius;
    width: 100%;

}


// header + side image
.header {
    @include mq(tabletl) {
        width: 27%;
    }
}

.header-image {
    background-position: center 29%;

    @include mq(tabletl) {
        width: 27%;
        position: fixed;
        right: auto;
        background-position: center;

    }
}

.header__title:hover {
    color: $text-light-color;
}

//.rounded-background {
//  background-color: #e6e6e6;
//  padding: 5em auto ;
//  border-radius: 20pt;
//}

.wrap {
    // For outside list elements on small screens
    padding-left: 2.9em;
    padding-right: 2.4em;

    //@include mq(tabletl) {
    //    padding-left: unset;
    //    padding-right: unset;
    //}
}

//.visible {
//    opacity: 1;
//
//}
//
//.not-visible {
//    opacity: 0;
//
//}

.post__list {

    .blog-post__title{
    //margin-left: 0px !important;
        a {
            color: $text-dark-color !important;
         }
    }

}

.image-wrap {
    img {
        border-radius: 5pt;
    }
}