@import url("/css/academicons.min.css");


.frontpage {
//  min-height: unset;
  .container {
    display:flex;
    //.contact__information {flex: 2;}
    //.contact__information:nth-child(2) {flex: 1;}
    //.contact__information:nth-child(3) {flex:0.5;}
    @media screen and (max-width:600px) {
       flex-wrap: wrap;
       .contact__information {
          padding-left: 0em;
       }
     // .item:first-child {flex-basis: 100%; }
    }

    //.bio {
    //  flex-grow: 1; 
    //  margin-left:0px !important;
    //}
  }

  .contact__information {
    flex-grow: 1;
    padding-left: 2em;
    white-space: nowrap;

    p {
      margin-top: 0px;
    }
  }
//  ul {
//    padding-left:1em; 
//    font-size: 20pt; 
//    font-family: $title-font;
//    li a {
//      //color: black;
//    }
//  }

  p {
  margin-left: 0px;
  margin-top:10px;
  }
  h1, h2, h3, h4, h5, h6 {
      //text-align: center;
      text-align: left;
  }
    
  h6 {
   font-size: $p-large;
   font-weight: 400;
   font-family: $body-font;
  }


//  .portfolio-item {
//    margin-left: auto;
//    margin-right: auto;
//
//    // This controls the background opacity of the portfolio main images. They only dim on big dispays. How does    this //look on a phone? Is there a need to limit it to big screens?
//    
//      .portfolio-item__content {
//        border-radius: $border-radius;
//        visibility: visible;
//        opacity: 1;
//        background: unset;
//        padding-left: 1em;
//        justify-content: unset;
//        &:hover {
//        background: rgba($overlay-background-color, $portfolio_overlay-opacity);
//        }
//      }
//    
//      .portfolio-item__info {
//        width: 100%;
//      }
//
//      .portfolio-item__image {
//      border-radius: $border-radius;
//      border: 1px solid $text-medium-color;
//      padding-bottom: 10%;
//      }
//
//      .portfolio-item__title {
//      //left:5%;
//      //top:8%; 
//      z-index: 99;
//      //color: black;
//    }
//    
//    .portfolio-item__subtitle {
//      z-index: 99;
//    }
//
//    > h2, h3 {
//      max-width: unset;
//    }
//  }

//  table {
//    border: 0px solid $text-dark-color;
//    width: 80%;
//    @include mq(tabletp) {
//      width: 55%;
//    }
//    @include mq(tabletl) {
//      width: 35%;
//    }
//    thead {
//      display: none;
//    }
//
//    th, td {
//      padding: 4px;
//      font-size: $p-small;
//      font-weight: $p-weight;
//      vertical-align: top;
//      border-bottom: 0pt solid $background-alt-color;
//      @include mq(tabletp) {
//        padding: 5px;
//      }
//
//      @include mq(laptop) {
//        padding: 6px;
//      }
//    }
//    
//    tr {
//      &:nth-child(2n) {
//        background: unset;
//      }
//    }
//
//    td {
//          font-size: $p-large;
//
//      &:nth-child(2n) {
//        text-align: right;
//    }
//    }
//  }
}
