---
---

<a name="{{entry.key}}-anchor"></a><a class="title" data-toggle="collapse" data-target=".{{ entry.key }}.collapse">{% if entry.type == "book" %}{{ entry.booktitle }}{% elsif entry.type == "article" %}{{ entry.title }}
{% elsif entry.type == "misc" %}{ entry.title }}{% elsif entry.type == "incollection" %}{{ entry.title }}
{% endif %}</a><br>

<div id="{{key}}-fullentry" class="collapse {{ entry.key }} fullentry show">
{% if entry.author contains "and" %}
(with {{ entry.author | remove: "Zvi" | remove: "Biener, " | remove_first: "and "}})<br>
{% elsif entry.editor contains "and" %}
  {% unless entry.author == "Biener, Zvi" %}
(with {{ entry.editor | remove: "Zvi" | remove: "Biener, " | remove_first: "and "}})<br>
  {% endunless %}
{% endif %}


{% if entry.type == "book" %}{{ entry.publisher }}
{% elsif entry.type == "article" %}<i>{{ entry.journal }}</i>
{% elsif entry.type == "misc" %}<i>{{ entry.journal }}</i>
{% elsif entry.type == "incollection" %} In <i>{{ entry.booktitle }}</i>, {{ entry.publisher }}
{% endif %}



{{ heading }}
({{ entry.date }})

{% assign pic = "false" %}
{% if links.png %}{% assign pic = links.png %}
{% elsif links.jpg %}{% assign pic = links.jpg %}
{% elsif links.jpeg %}{% assign pic = links.jpeg %}
{% elsif links.pic %}{% assign pic = links.pic %}
{% elsif links.tiff %}{% assign pic = links.tiff %}
{% endif %}
<div id="{{key}}-links" class="biblinks clearfix">
  <ul>
    {% if link %}
    <li><a href="{{link}}">Preprint</a></li>
    {% endif %}
    {% if entry.amazon %}
    <li><a href="{{entry.amazon}}" target="_blank">Amazon</a></li>
    {% endif %}
    {% if entry.doi %}
    <li><a href="http://doi.org/{{entry.doi}}" target="_blank">Published version</a></li>
    {% endif %}
    {% if entry.url AND !entry.doi %}
    <li><a href="http://doi.org/{{entry.url}}" target="_blank">Published version</a></li>
    {% endif %}
    <li><a data-toggle="collapse" data-target=".collapse.{{key}}.citation" style="cursor: zoom-in">Full Cite</a></li>
    <li><a data-toggle="collapse" data-target=".collapse.{{key}}.bibtex" style="cursor: zoom-in">BibTeX</a></li>
    {% if entry.abstract %}

    <li><a data-toggle="collapse"  data-target=".collapse.{{key}}.abstract" style="cursor: zoom-in">Abstract</a></li>
    {% endif %}
  </ul>
</div>

<div class="item_details clearfix">
  <div name="{{key}}-bibtex" class="pre collapse {{key}} bibtex">
    <pre >{{entry.bibtex}}</pre>
  </div>
  <div name="{{key}}-citation" class="collapse {{key}} citation"> 
    <p>{{reference}}</p>
  </div>
  {% if entry.abstract %}
  <div name="{{key}}-abstract" class="abstract collapse show {{key}} abstract">
    <blockquote> {% if pic != "false" %}<img src="{{ pic }}">{% endif %}{{entry.abstract}}</blockquote>
  </div>
  {% else %}
  <div>&nbsp;</div>
  {% endif %}

</div>
</div>