---
layout: default
---

<section class="intro {% if page.toggle %}fixed-top-buttons{% endif %}">

	<div class="wrap">
		
		{% if page.notitle != true %}
			<h1>{{ page.title }}</h1>
			<p>{{ page.subtitle }}</p>			
		{% endif %}


	</div>
	{% if page.toggle %}
	<div class="hackmenu">
        <div class="tooltip scrolltop" >
                <a class="undo-icon collapsed" data-toggle="{{page.toggle}}" data-target="{{page.target}}" data-text="Collapse">
                </a>
        </div>    
    </div>
    {% endif %}

</section>


<section class="single">

	<div class="wrap">

		{{ page.content }}

	</div>

</section>