---
layout: default
---
<section class="intro fixed-top-buttons">
    <div class="wrap">
    </div>
    <div class="hackmenu">
        <div class="tooltip scrolltop" >
                <a class="undo-icon collapsed" data-toggle="hideall" data-target=".post.collapse" data-text="Collapse">
                    <!-- <span class="tooltip tooltiptext">Expand / Contract</span> -->
                </a>
        </div>    
        <div class="taglist"><a class="tag" data-toggle="collapse" data-target=".taglist-inner.collapse" data-text="Collapse">all tags</a>
            <div style="clear: both;"></div>
            <div class="collapse taglist-inner">
            <ul>
                <li><a class="tag" href="/blog/">all</a></li>
                {% for cat in site.categories %}
                    <li><a class="tag" href="/blog/{{ cat[0] | slugify }}/">{{ cat[0] | downcase }}</a>{% endfor %}
                    </li>
             </div> 
            </ul>
    </div>
        </div>
</section>


<section class="single">
    <div class="wrap">
    <h2> {{ page.title }}
        
    </h2>
     
    <ol class="bibliography nolisting ">
        {% for post in paginator.posts %}
        <!-- <li class="title header-switch-onhover" data-image="{{ post.image }}"  > -->
        <li class="title" data-image="{{ post.image }}"  >
            <a  href="{{ post.url | relative_url }}" >{{post.title}}</a>
        
        <div class="item_details post collapse show">

            {{ post.date | date: "%m/%d/%Y"  }}&nbsp;&nbsp;&nbsp;{% for cat in post.categories %}<a class="tag" href="/blog/{{ cat | slugify  }}/">{{ cat | downcase }}</a>{% endfor %}
        </p>

        <blockquote >{{ post.excerpt }}
        <a href="{{ post.url | relative_url }}">Read More</a>
        </blockquote>

        </div></a>
    </li>
        {% endfor %}
        
    </div>

    <ol>
</section>


{% if paginator.total_pages > 1 %}

<section class="pagination">

    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
    {% endif %}

</section>

{% endif %}