---
layout: default
---

<section class="intro">
	<div class="wrap">
	</div>
</section>




<section class="single">

	<div class="wrap">

		<h2>{{ page.title }}</h2>
		<p class="date">{{ page.date | date: "%m/%d/%Y"  }}&nbsp;
		{% if page.revised %}(rev. {{ page.revised | date: "%m/%d/%Y" }}){% endif %}
		{% for cat in page.categories %}<a class="tag" href="/blog/{{ cat | slugify  }}/">{{ cat | downcase }}</a>{% endfor %}
		</p>


		{{ page.content }}

	</div>

</section>

<section class="single">
	<div class="wrap">
	{% if page.comments %}
		<br>
		<h3>Comments</h3>
		<div class="disqus-block">
	  	{% include disqus.html %}
	  	</div>
	{% endif %}
</section>